<div class="header_img"><img src="{{site.url}}/assets/images/header.jpg"></div>
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">{{ site.title }}</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
    </ul>

    <!-- Right Nav Section -->

    <ul class="right">
      <li>
        <a href="{{site.url}}/netsuite.html">Devops</a>
      </li>
      <li>
        <a href="{{site.url}}/devops.html">Devops</a>
      </li>
      <li>
        <a href="{{site.url}}/index.html">Home</a>
      </li>

    </ul>
  </section>
</nav>