<div class="post-nav-bottom">
<div class="row text-center">
    <div class="small-12 large-3 columns post-previous ">{% if page.previous %} &laquo;<a href="{{page.previous.url}}">{{page.previous.title}}</a>{% endif %}</div> <div class="small-12 large-6 columns reference_links"> || &nbsp;<a href="{{ site.linkedin }}">Linked in: {{ site.author }}</a>  | <a href="http://github.com/{{ site.github }}">Github: {{ site.github }}</a> || </div> <div class="small-12 large-3 columns post-next">{% if page.next %}<a href="{{page.next.url}}">{{page.next.title}}</a>&raquo;{% endif %}</div>
</div>
</div>