
<div class="row text-center">
    <ul class="stack radius button-group">
        {% if page.previous %}
        <li><a href="{{page.previous.url}}" class="button">{{page.previous.title}}</a></li>
        {% else %}
        <li><a class="button disabled">Begining</a></li>
        {% endif %}
        <li><a href="{{ site.linkedin }}" class="button">Linked in: {{ site.author }}</a></li>
        <li><a href="http://github.com/{{ site.github }}" class="button">Github: {{ site.github }}</a></li>
        {% if page.next %}
        <li><a href="{{page.next.url}}" class="button">{{page.next.title}}</a></li>
        {% else %}
        <li><a class="button disabled">The End</a></li>
        {% endif %}
    </ul>
</div>